# Compiled class files
*.class

# Maven build directories
target/
*.jar
*.war

# Eclipse project files
.settings/
.classpath
.project

# IntelliJ IDEA project files
.idea/
*.iml

# Log files
*.log

# Temporary files
*.tmp
*.temp
*.swp

# Operating System files
.DS_Store
Thumbs.db

# Serenity reports
**/target/serenity-reports/
**/target/site/

# Java dependencies
/.mvn/
